---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import UrlFuntion from "../components/UrlFuntion.astro";
import AvcSection from "../components/AvcSection.astro";
import BtnCta from "../components/BtnCta.astro";
---

<Layout title="Frontend Mentor | Shortly URL shortening API Challenge">
  <main>
    <Hero />
    <UrlFuntion />
    <AvcSection />
    <BtnCta/>
  </main>
  </Layout>
